[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CA1824: Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = none
